* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(182, 177, 177);
}

main {
    width: 100vw;
    /* height: 100vh; */
    margin-top: 1rem;
    /* background-color: rgb(107, 107, 55); */

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(242, 247, 245);
}

.list-item {
    list-style-type: disc;
}

image img {
    width: 100%;
}

.left-flex,
.right-flex {
    display: flex;
    flex : 1;
    flex-direction: column;
}

.left-flex {
    padding: 20px;
}

.right-flex {
    padding: 0px;
    /* background-color: rgba(55, 23, 196, 0.842); */
}

.blocks {
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}

.profiles>.list-item {
    list-style-type: none;
    align-items: flex-end;
}

.ach-div {
    display: flex;
    justify-content: end;
}



.projects {
    margin-top: 0px;
}

.project:hover,
.shadow:hover {
    /* list-style-type: circle; */
    box-shadow: 5px 5px 5px gray;
}

ul {
    padding-top: 1rem;
    padding-left: 2rem;

}

.shadow {
    padding-top: 0px;
}



.achievements:hover,
.contact:hover {
    box-shadow: 5px 5px 5px gray;

}

.skill {
    position: relative;
    padding-left: 1rem;
}

.blocks>.project {
    padding-left: 1rem;
}